
	/*Our Menu Page Style*/

	* {
		box-sizing: border-box;
		margin: 0px;
		padding: 0px;
		font-family: verdana;

	}


	body {
		margin: 0% 0% 0% 2%;
	}

	/*Desktop*/
      

	h1 {
		text-align: center;
		margin: 50px;
		font-size: 2em;
	}

	.box-container1, .box-container2, .box-container3 {
		border: 2px black solid;
		width: 31%;
		min-width: 170px;
		position: relative;
		float: left;
		margin: 10px;
		background-color: #b7b7b7;

	}

	.box {
		padding: 35px 10px 5px 10px;
		font-size: 0.8em;
	}

	#title1, #title2, #title3 {
		border: 2px black solid;
		position: absolute;
		top: -2px;
		right: -2px;
		width: 45%;
		min-width: 83px;
		background-color: #ffbcc1;
		font-size: 1em;
		text-align: center;
		overflow: hidden;
		padding: 2px;
		
	}

	#title2 {
		background-color: #ffdf77;
		
	}

	#title3 {
		background-color: #a8000b;
		color: #ffffff;

	}


/*Tablet*/

@media screen and (max-width: 991px) {

		body {
		margin: 0% 3% 0% 2%;
	}
   

	.box-container1, .box-container2 {
		border: 2px black solid;
		width: 48%;
		min-width: 170px;
		position: relative;
		float: left;
		margin: 1%;
		background-color: #b7b7b7;

	}

	.box-container3 {
		width: 98%;
		min-width: 170px;
		position: relative;
		float: left;
		margin: 0.8% 0% 0% 1%;

	}

	#title2 {
		max-width: 22%;
	}


	}

	/*Mobile*/

@media screen and (max-width: 767px) {
   
		body {
		margin: 0% 4% 0% 3%;
	}

	.box-container1, .box-container2, .box-container3 {
		width: 100%;
		min-width: 170px;
		position: relative;
		float: left;
		margin-top: 1%;
	}

		#title2 {
		min-width: 45%;
	}
		
	}