
	/*Our Menu Page Style*/

	* {
		box-sizing: border-box;
		margin: 0px;
		padding: 0px;
		font-family: verdana, sans-serif;

	}

	body {
		margin: 1%;
	}

	/*Desktop*/
      

	h1 {
		text-align: center;
		margin: 50px;
		font-size: 2em;
		color: #050505;
	}

	.box-container1, .box-container2, .box-container3 {
		border: 1px black solid;
		width: 31.3333%;
		min-width: 170px;
		position: relative;
		margin: 1%;
		float: left;
		background-color: #b7b7b7;

	}

	.box {
		padding: 35px 10px 5px 10px;
		font-size: 0.8em;
	}

	#title1, #title2, #title3 {
		border: 1px black solid;
		position: relative;
		float: right;
		top: -1px;
		right: -1px;
		width: 45%;
		min-width: 83px;
		background-color: #ffbcc1;
		font-size: 1em; 
		color: #161616;
		text-align: center;
		overflow: hidden;
		padding: 2px;
		
	}

	#title2 {
		background-color: #ffdf77;
		color: #383838;
		
	}

	#title3 {
		background-color: #a8000b;
		color: #ffffff;

	}


/*Tablet*/

@media screen and (max-width: 991px) and (min-width: 768px) {


   

	.box-container1, .box-container2 {
		width: 48%;
		min-width: 170px;
		margin: 1%;

	}

	.box-container3 {
		width: 98%;
		min-width: 170px;
		margin: 0.8% 0% 0% 1%;

	}

	#title2 {
		max-width: 22%;
	}


	}

	/*Mobile*/

@media screen and (max-width: 767px) {
   


	.box-container1, .box-container2, .box-container3 {
		width: 98%;
		min-width: 170px;
		margin-top: 1%;
	}

	#title2 {
		min-width: 45%;
	}
		
	}